[Unit]
Description=ASPM tuning script
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/aspm-tune.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
